<h2>Sửa sản phẩm</h2>
<form [formGroup]="productForm" (ngSubmit)="onHandleUpdate()">
  <div class="mp3">
    <label for="name">Tên sản phẩm:</label>
    <input type="text" id="name" formControlName="name" class="form-control" />
  </div>
  <div class="mp3">
    <label for="price">Giá:</label>
    <input
      type="text"
      id="price"
      formControlName="price"
      class="form-control"
    />
  </div>
  <div class="mp3">
    <label for="description">Mô tả:</label>
    <input
      type="text"
      id="description"
      formControlName="description"
      class="form-control"
    />
  </div>
  <div class="mp3">
    <label for="image">Image:</label>
    <input
      type="text"
      id="image"
      formControlName="image"
      class="form-control"
    />
  </div>
  <div class="mp3">
    <label for="color">Màu sắc:</label>
    <input
      type="text"
      id="color"
      formControlName="color"
      class="form-control"
    />
  </div>
  <div class="mp3">
    <label for="categoryId">Loại</label>
    <select class="form-control" formControlName="categoryId" id="categoryId">
      <option value="" disabled selected>Chọn danh mục</option>
      <option *ngFor="let category of categories" [value]="category._id">
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="btnsubmit">
    <button
      type="submit"
      [disabled]="!productForm.valid"
      class="btn btn-danger"
    >
      Submit
    </button>
  </div>
</form>
