h2 {
    margin: 15px;
    text-align: center;
}

form .btnsubmit {
    margin-top: 10px;
    text-align: center;
}

form .btnsubmit button {
    padding: 7px 20px;
}
.btnedit{
  text-align: center;
}
