<h2>Danh sách người dùng</h2>
<table class="table table-bordered" style="text-align: center">
  <thead>
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of user; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button [disabled]="user.role === 'admin'" class="btn btn-primary"  [routerLink]="[user._id,'edit']"  style="margin-right: 3px">Edit</button>
        <button [disabled]="user.role === 'admin'" class="btn btn-danger" (click)="removeHandler(user._id)">
          Remove
        </button>
      </td>
    </tr>
  </tbody>
</table>
