<div class="container">
  <header>
    <div class="top-navbar">
      <div class="top-icons">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
      <div class="other-links">
        <button id="btn-login" class="{{user ? 'd-none' : ''}}"><a routerLink="login">Login</a></button>
        <button id="btn-signup" class="{{user ? 'd-none' : ''}}"><a routerLink="register">Sign up</a></button>
        <i class="{{user ? 'd-none' : ''}}" class="fa-solid fa-user "></i>
        <i class="{{user ? 'd-none' : ''}}" class="fa-solid fa-cart-shopping"></i>
        <button id="btn-signup"  class="{{user ? '' : 'd-none'}} " (click)="logOut()"
        >Đăng xuất</button>
      </div>
    </div>
    <div class="home-section">
      <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid" >
          <a class="navbar-brand" href="#"
            ><img
              class="logo"
              src="https://res.cloudinary.com/dtsfrv4lf/image/upload/v1685789813/Nodejs/pngtree-smartphone-shop-sale-logo-design-png-image_5069958_cgn03t.jpg"
              alt=""
              width="180px"
          /></a>
          <button
            class="navbar-toggler"
            type="button" 
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span><i class="fa-solid fa-bars" style="color: white"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
            </ul>

            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button
                class="btn btn-outline-success"
                type="submit"
                id="search-btn"
              >
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <router-outlet />
  </main>
  <footer id="footer" style="margin-top: 50px">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-content">
            <h3>Fashion</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
              hic?
            </p>
            <p>
              Karcahi <br />
              Sindh <br />
              Pakistan <br />
            </p>
            <strong
              ><i class="fas fa-phone"></i> Phone:
              <strong>+000000000000000</strong></strong
            ><br />
            <strong
              ><i class="fa-solid fa-envelope"></i> Email:
              <strong>example@gmail.com</strong></strong
            >
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Usefull Links</h4>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Privacy policay</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi,
              rem!
            </p>
            <ul>
              <li><a href="#">Smart phone</a></li>
              <li><a href="#">Smart watch</a></li>
              <li><a href="#">Airpods</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Network</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem, ad?
            </p>
            <div class="socail-links mt-3">
              <a href="#" class="twiiter"
                ><i class="fa-brands fa-twitter"></i
              ></a>
              <a href="#" class="twiiter"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
              <a href="#" class="twiiter"
                ><i class="fa-brands fa-google-plus"></i
              ></a>
              <a href="#" class="twiiter"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a href="#" class="twiiter"
                ><i class="fa-brands fa-linkedin-in"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong>Fashion</strong>.All Rights Reserved
      </div>
      <div class="credits">Designed By <a href="#">SA coding</a></div>
    </div>
  </footer>
</div>
