
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/5576275d06.js" crossorigin="anonymous"></script>
        <main class="">
            <div class="container single-product" style="margin-top: 30px;">
                <div class="row">
                    <div class="col-md-7 col-xs-12" style="width: 90%;">
                        <img src="../../assets/img/sunset tee-black 2.jpg" width="100%" id="large_img">
                        <br><br>
                        <div class="row small-img-row">
                            <div class="col-2 small-img-col">
                                <img src="../../assets/img/have fun tee 1.jpg" width=" 100%" class="small-img active">
                            </div>
                            <div class="col-2 small-img-col">
                                <img src="../../assets/img/tornado-tee5.jpg" width=" 100%" class="small-img active">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-5 col-xs-12">

                        <div class="single-product-details">
                            <h2>Miêu tả</h2>
                            <br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam reiciendis ducimus 
                            corporis in eaque, ipsum quae esse omnis eos soluta debitis officiis voluptatum atque 
                            hic delectus quam ab? Eligendi, maiores?
                                <p>
                                    <strong>Cấu hình </strong>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat incidunt velit a, quaerat
                                </p>
                                <br>
                                <p>
                                    <strong>Giá :</strong>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat incidunt velit a, quaerat
                                </p>
                                <br>
                                <p>
                                    <span style="font-size:14px">
                                        <strong>Lưu ý:</strong>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat incidunt velit a, quaerat
                                    </span>
                                </p>
                                
                             
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container sanphammoi">
                <div class="sanphammoi_tiltle">
                    <h2>
                        <a href="#">Sản phẩm liên quan</a>
                    </h2>
                    <div class="view-all">
                        <a href="#">Xem thêm</a>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-3 col-6 pro-loop">
                            <div class="product">
                                <div class="product_img">
                                        <div class="figure">
                                            <img src="../../assets/img/tornado-tee3.jpg" width="100%">
                                            <img src="../../assets/img/tornado-tee4.jpg" class="image-hover">
                                        </div>
                                </div>
                                <div class="product_detail">
                                    <h3 class="product_detail-name">
                                        sản phẩm A
                                    </h3>
                                    <div class="product_detail-price">
                                        <p>200.000đ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

           
        </main>

</body>

