<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<main>
  <div *ngIf="product" class="container single-product" style="margin-top: 30px">
    <div class="row">
      <div class="col-md-7 col-xs-12" style="width: 90%">
        <img
          [src]="product.image"
          width="100%"
          id="large_img"
        />
        <br /><br />
        <div class="row small-img-row">
          <div class="col-2 small-img-col">
            <img
            [src]="product.image"
            width=" 100%"
              class="small-img active"
            />
          </div>
          <div class="col-2 small-img-col">
            <img
            [src]="product.image"
            width=" 100%"
              class="small-img active"
            />
          </div>
        </div>
      </div>

      <div class="col-md-5 col-xs-12">
        <div class="single-product-details">
          <h2>{{product.name}}</h2>
          <br />
         {{product.description}}
          <p>
            <strong>Cấu hình </strong>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat
            incidunt velit a, quaerat
          </p>
          <br />
          <p>
            <strong>Giá :</strong>
           {{product.price}}
          </p>
          <br />
          <p>
            <span style="font-size: 14px">
              <strong>Lưu ý:</strong>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat
              incidunt velit a, quaerat
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container sanphammoi">
    <div class="sanphammoi_tiltle">
      <h2>
        <a href="#">Sản phẩm liên quan</a>
      </h2>
      <div class="view-all">
        <a href="#">Xem thêm</a>
      </div>
    </div>
    <div *ngFor="let product of productSimilar,index as i" class="row">
      <div class="col-md-3 col-6 pro-loop">
        <div class="product">
          <div class="product_img">
            <div class="figure">
              <img style="width: 180px;height: 200px;"
              [src]="product.image"
              />
            </div>
          </div>
          <div class="product_detail">
            <h3 class="product_detail-name">{{product.name}}</h3>
            <div class="product_detail-price">
              <p>{{product.price}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
