
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <script src="https://kit.fontawesome.com/5576275d06.js" crossorigin="anonymous"></script>
    <style>
        @import url("../../assets/css/main\ copy.css");
    </style>
        <main class="">
            <div class="container single-product" style="margin-top: 30px;">
                <div class="row">
                    <div class="col-md-7 col-xs-12" style="width: 90%;">
                        <img src="../../assets/img/tornado-tee2.jpg" width="100%" id="large_img">
                        <br><br>
                        <div class="row small-img-row">
                            <div class="col-2 small-img-col">
                                <img src="../../assets/img/have fun tee 1.jpg" width=" 100%" class="small-img active">
                            </div>
                            <div class="col-2 small-img-col">
                                <img src="../../assets/img/tornado-tee5.jpg" width=" 100%" class="small-img active">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-5 col-xs-12">
                        <form action="">
                            <div class="form-group-color" onchange="selectcolor()">
                                <div class="option_select">
                                    <input type="radio" id="color_red" name="color" value="S" checked>
                                    <label class="label_color" for="color_red">đỏ</label>
                                </div>
                                <div class="option_select">
                                    <input type="radio" id="color_yellow" name="color" value="M">
                                    <label class="label_color" for="color_yellow">vàng</label>
                                </div>
                                <div class="option_select">
                                    <input type="radio" id="color_black" name="color" value="L">
                                    <label class="label_color" for="color_black">đen</label>
                                </div>
                                <div class="option_select">
                                    <input type="radio" id="color_green" name="color" value="XL">
                                    <label class="label_color" for="color_green">Xanh</label>
                                </div>
                            </div>
                            <div class="d-flex align-items-center" style="margin: 20px 0;">
                                <input type="number" value="1" min="1">
                                <a href="" class="btn btn-dark">Thêm vào giỏ</a>
                            </div>
                        </form>

                        <div class="single-product-details">
                            <h2>Miêu tả</h2>
                            <br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam reiciendis ducimus 
                            corporis in eaque, ipsum quae esse omnis eos soluta debitis officiis voluptatum atque 
                            hic delectus quam ab? Eligendi, maiores?
                                <p>
                                    <strong>Cấu hình </strong>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat incidunt velit a, quaerat
                                </p>
                                <br>
                                <p>
                                    <strong>Giá :</strong>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat incidunt velit a, quaerat
                                </p>
                                <br>
                                <p>
                                    <span style="font-size:14px">
                                        <strong>Lưu ý:</strong>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat incidunt velit a, quaerat
                                    </span>
                                </p>
                                
                             
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function selectcolor() {
                    var listcolor = document.getElementsByName('color');
                    console.dir(listcolor);
                    for (i = 0; i < listcolor.length; i++) {
                        if (listcolor[i].checked) {
                            document.getElementsByClassName('label_color')[i].classList.add('active');
                        } else {
                            document.getElementsByClassName('label_color')[i].classList.remove('active');
                        }

                    }
                }
                selectcolor();
            </script>

            <div class="container sanphammoi">
                <div class="sanphammoi_tiltle">
                    <h2>
                        <a href="#">Sản phẩm liên quan</a>
                    </h2>
                    <div class="view-all">
                        <a href="#">Xem thêm</a>
                    </div>
                </div>
                <div class="row">

                        <div class="col-md-3 col-6 pro-loop">
                            <div class="product">
                                <div class="product_img">
                                        <div class="figure">
                                            <img src="../../assets/img/tornado-tee3.jpg" width="100%">
                                            <img src="../../assets/img/tornado-tee4.jpg" class="image-hover">
                                        </div>
                                </div>
                                <div class="product_detail">
                                    <h3 class="product_detail-name">
                                        sản phẩm A
                                    </h3>
                                    <div class="product_detail-price">
                                        <p>200.000đ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 pro-loop">
                            <div class="product">
                                <div class="product_img">
                                        <div class="figure">
                                            <img src="../../assets/img/tornado-tee3.jpg" width="100%">
                                            <img src="../../assets/img/tornado-tee4.jpg" class="image-hover">
                                        </div>
                                </div>
                                <div class="product_detail">
                                    <h3 class="product_detail-name">
                                        sản phẩm A
                                    </h3>
                                    <div class="product_detail-price">
                                        <p>200.000đ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 pro-loop">
                            <div class="product">
                                <div class="product_img">
                                        <div class="figure">
                                            <img src="../../assets/img/tornado-tee3.jpg" width="100%">
                                            <img src="../../assets/img/tornado-tee4.jpg" class="image-hover">
                                        </div>
                                </div>
                                <div class="product_detail">
                                    <h3 class="product_detail-name">
                                        sản phẩm A
                                    </h3>
                                    <div class="product_detail-price">
                                        <p>200.000đ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                </div>
            </div>

           
        </main>






    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        var search_btn = document.querySelector(".header_extra .search .search_icon i");
        var search_panel = document.querySelector(".search_panel");

        function openSearchPanel() {
            if ($('.search_panel').hasClass('active')) {
                search_panel.classList.remove("active");
            } else {
                search_panel.classList.add("active");
            }
        }

        function openMenu() {
            var menu_nav = document.querySelector('.menu_nav i');
            document.querySelector('.main_nav ul').style.right = '0';
            document.querySelector('.close_menu').style.right = '0'
        }

        function closeMenu() {
            document.querySelector('.main_nav ul').style.right = '-400px';
            document.querySelector('.close_menu').style.right = '-400px'
        }

        function openListLink() {
            if (document.querySelector('.main_nav-item ul').style.height == 'auto') {
                document.querySelector('.main_nav-item ul').style.height = '0';
            } else {
                document.querySelector('.main_nav-item ul').style.height = 'auto'
            }
        }


        $(window).scroll(function() {
            if ($(this).scrollTop() > 35) {
                $('.header').addClass('scrolled');
            } else {
                $('.header').removeClass('scrolled');
            }
        });

        var large_img = document.getElementById("large_img");
        var smallImg = document.getElementsByClassName('small-img');
        smallImg[0].onclick = function() {
            large_img.src = smallImg[0].src;
            smallImg[0].classList.add('active');
            smallImg[1].classList.remove('active');
            smallImg[2].classList.remove('active');
            smallImg[3].classList.remove('active');
        }
        smallImg[1].onclick = function() {
            large_img.src = smallImg[1].src;
            smallImg[1].classList.add('active');
            smallImg[0].classList.remove('active');
            smallImg[2].classList.remove('active');
            smallImg[3].classList.remove('active');
        }
        smallImg[2].onclick = function() {
            large_img.src = smallImg[2].src;
            smallImg[2].classList.add('active');
            smallImg[0].classList.remove('active');
            smallImg[1].classList.remove('active');
            smallImg[3].classList.remove('active');
        }
        smallImg[3].onclick = function() {
            large_img.src = smallImg[3].src;
            smallImg[3].classList.add('active');
            smallImg[0].classList.remove('active');
            smallImg[1].classList.remove('active');
            smallImg[2].classList.remove('active');
        }
    </script>
</body>

