<h2 class="pb-2" >Sửa danh mục</h2>
<form (ngSubmit)="onHandleSubmit()" [formGroup]="productForm">
  <input
    type="text"
    formControlName="name"
    class="form-control"
    placeholder="Tên danh mục"
  />
  <div
  class="error"
  *ngIf="
      productForm.get('name')?.hasError('required') &&
      (productForm.get('name')?.touched ||
          productForm.get('name')?.dirty)
  "
>
  Name is Required
</div>
<div
class="error"
*ngIf="
    productForm.get('name')?.hasError('minlength') &&
    (productForm.get('name')?.touched ||
        productForm.get('name')?.dirty)
"
>
Name ít nhất 4 kí tự
</div>
  <div class="btnedit">
      <button type="submit" [disabled]="!productForm.valid" class="btn btn-danger">
    Submit
  </button>
  </div>

</form>
