<form class="container mt-4 registration-form" [formGroup]="formSignup" (ngSubmit)="onHandleSubmit()">
  <h2>Register User 🔑</h2>
  <div class="form-group" >
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required class="form-control" formControlName="name" />
    <div style="color: red;"
        *ngIf="
            formSignup.get('name')?.hasError('required') &&
            (formSignup.get('name')?.touched ||
                formSignup.get('name')?.dirty)
        "
    >
        Name is Required 
    </div>
    <div style="color: red;"
        *ngIf="formSignup.get('name')?.hasError('pattern')"
    >
        Name không được dùng ký tự đặng biệt
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required class="form-control" formControlName="email" />
    <div style="color: red;"
        *ngIf="
            formSignup.get('email')?.hasError('required') &&
            (formSignup.get('email')?.touched ||
                formSignup.get('email')?.dirty)
        "
    >
        email is Required
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      class="form-control"
      formControlName="password"
    />
  </div>
  <div style="color: red;"
  *ngIf="
      formSignup.get('password')?.hasError('required') &&
      (formSignup.get('password')?.touched ||
          formSignup.get('password')?.dirty)
  "
>
  Password is required
</div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password:</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      required
      class="form-control"
      formControlName="confirmPassword"
    />
  </div>
  <div style="color: red;"
  *ngIf="
      formSignup?.hasError('notMatch') &&
      (formSignup.get('confirmPassword')?.touched ||
          formSignup.get('confirmPassword')?.dirty)
  "
>
  Mật khẩu không trùng khớp
</div>
  <button type="submit" class="btn btn-primary">Register now</button>
  <div class="already-member">
    <span>Already a member?</span>
    <a href="">Login</a>
  </div>
</form>
