<div class="container pt-5" style="text-align: center">
  <h2 class="pb-2">Danh sách sản phẩm</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên sản phẩm</th>
        <th>Hình ảnh sản phẩm</th>
        <th>Giá sản phẩm</th>
        <th>Mô tả sản phẩm</th>
        <th>Màu sắc</th>
        <th>Danh mục</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ product.name }}</td>
        <td><img class="img" [src]="product.image" /></td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.color }}</td>
        <td>{{ categoryName(product.categoryId) }}</td>
        <td>
          <a
            class="btn btn-primary"
            style="margin-right: 3px"
            [routerLink]="[product._id, 'edit']"
            >Edit</a
          >
          <button class="btn btn-danger" (click)="removeHandler(product._id)">
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
